<dataConfig>
  <dataSource type="JdbcDataSource" 
              driver="com.mysql.jdbc.Driver"
              url="jdbc:mysql://<%= @db_endpoint %>:3306/geonames"
              user="<%= @db_user %>"
              password="<%= @db_passwd %>"
              batchSize="-1"/>
  <document>
    <entity name="geoname" 
            query="select geonameid,name,altnames,lat,lng,admin1,admin2,admin3,admin4,feature_class,feature_code,cc,
            population,asciiname,admin1_name,admin1_altnames,concat('POINT(',lng,' ',lat,')') as latlng_point from geoname">
    </entity>
  </document>
</dataConfig>
