<?xml version="1.0" encoding="UTF-8" ?>
<schema name="geonames_v3" version="1.5">
  <field name="_version_" type="long" indexed="true" stored="true"/>

<!-- id	name	ascii_name	lat	lng	feature_code	cc	admin1	admin2	admin3	admin4	population	latlng_point -->
  <field name="geonameid" type="int" required="true"/>
  <field name="name" type="string" required="true"/>
  <field name="altnames" type="csv" multiValued="true"/>
  <field name="lat" type="double" required="true"/>
  <field name="lng" type="double" required="true"/>
  <field name="latlng_point" type="location_rpt" required="true"/>
  <field name="population" type="int" required="true"/>
  <field name="feature_class" type="string" required="true"/>
  <field name="feature_code" type="string" required="true"/>
  <field name="cc" type="string" required="true"/>

  <field name="asciiname" type="string"/>
  <field name="admin1" type="string"/>
  <field name="admin2" type="string"/>
  <field name="admin3" type="string"/>
  <field name="admin4" type="string"/>
  <field name="admin1_name" type="string"/>
  <field name="admin1_altnames" type="csv" multiValued="true"/>
  
  <!-- Field to use to determine and enforce document uniqueness. 
      Unless this field is marked with required="false", it will be a required field
    -->
  <uniqueKey>geonameid</uniqueKey>

  <fieldType name="string" class="solr.TextField">
    <analyzer type="index">
      <tokenizer class="solr.KeywordTokenizerFactory"/>
      <filter class="solr.LowerCaseFilterFactory"/>
    </analyzer>
    <analyzer type="query">
      <tokenizer class="solr.KeywordTokenizerFactory"/>
      <filter class="solr.LowerCaseFilterFactory"/>
    </analyzer>
  </fieldType>
  
  <fieldType name="csv" class="solr.TextField" positionIncrementGap="100">
    <analyzer>
      <tokenizer class="solr.PatternTokenizerFactory" pattern="\s*,\s*"/>
      <filter class="solr.LowerCaseFilterFactory"/>      
    </analyzer>
  </fieldType>

  <fieldType name="double" class="solr.TrieDoubleField"/>
  <fieldType name="int" class="solr.TrieIntField"/>
  <fieldType name="long" class="solr.TrieLongField"/>
  <fieldType name="location_rpt" class="solr.SpatialRecursivePrefixTreeFieldType" geo="true" units="degrees"/>
</schema>
