<dataConfig>
  <dataSource type="JdbcDataSource"
              driver="com.mysql.jdbc.Driver"
              url="jdbc:mysql://<%= @db_endpoint %>:3306/geonames"
              user="<%= @db_user %>"
              password="<%= @db_passwd %>"
              batchSize="-1"/>
  <document>
    <entity name="postalcode" 
            query="select id,code,name,cc,lat,lng,admin1,admin1_name,admin2,admin2_name,admin3,admin3_name,
            concat('POINT(',lng,' ',lat,')') as latlng_point from postalcode">
    </entity>
  </document>
</dataConfig>
