<?xml version="1.0" encoding="UTF-8" ?>
<schema name="postalcode_v1" version="1.5">
  <field name="_version_" type="long" indexed="true" stored="true"/>

<!-- id	name	ascii_name	lat	lng	feature_code	cc	admin1	admin2	admin3	admin4	population	latlng_point -->
  <field name="id" type="long" required="true"/>
  <field name="code" type="string" required="true"/>
  <field name="name" type="string" required="true"/>
  <field name="cc" type="string" required="true"/>
  <field name="lat" type="double" required="true"/>
  <field name="lng" type="double" required="true"/>
  <field name="latlng_point" type="location_rpt" required="true"/>
  <field name="admin1" type="string"/>
  <field name="admin1_name" type="string"/>
  <field name="admin2" type="string"/>
  <field name="admin2_name" type="string"/>
  <field name="admin3" type="string"/>
  <field name="admin3_name" type="string"/>
  
  <!-- Field to use to determine and enforce document uniqueness. 
      Unless this field is marked with required="false", it will be a required field
    -->
  <uniqueKey>id</uniqueKey>

  <fieldType name="string" class="solr.TextField">
    <analyzer type="index">
      <tokenizer class="solr.KeywordTokenizerFactory"/>
      <filter class="solr.LowerCaseFilterFactory"/>
    </analyzer>
    <analyzer type="query">
      <tokenizer class="solr.KeywordTokenizerFactory"/>
      <filter class="solr.LowerCaseFilterFactory"/>
    </analyzer>
  </fieldType>
  
  <fieldType name="double" class="solr.TrieDoubleField"/>
  <fieldType name="long" class="solr.TrieLongField"/>
  <fieldType name="location_rpt" class="solr.SpatialRecursivePrefixTreeFieldType" geo="true" units="degrees"/>
</schema>
